<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
      body {
        background-color: linen;
      }
      
      h1 {
        color: maroon;
        margin-left: 40px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      
      tr:nth-child(odd) {
        background-color: white;
      }

      th {
        text-align: left;
        background-color: rgb(216, 225, 226);
      } 
      th, td {
        border-bottom: 1px solid #ddd;
      } 
    </style>
    <title>Mars Data</title>
  </head>
  <body>
    <div class="container-fluid py-5">
        <div class="jumbotron text-center p-5 mb-4 bg-light">
          <h1 class="display-5 fw-bold">Mission to Mars</h1>
          
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <h2><strong>Latest Mars News</strong></h2>
        <h4>{{data.news_title}}</h4>
        <h6>{{data.news_p}}</h6>
        <hr>
        <div class="row">
          <div class="col-8">
          <h2><strong>Featured Mars Image</strong></h2>    
            <img src="{{data.featured_image_url}}" class="img-fluid img-thumbnail" alt="...">   
          </div>
          <div class="col-4">
          <h2>Mars Facts</h2>    
            <table>{{data.table | safe}}</table>     
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2 class="text-center"><strong>Mars Hemispheres</strong></h2>
            <hr>
          </div>
        </div>
        <div class="row">
          {% for hemisphere in data.hemisphere_image_urls %}
          <div class="col-6">
            <div class="boxmargin">
              <div class="card" style="width: 33rem; padding: 4px;">
              <img class="card-img-top" src="{{hemisphere.img_url | safe}}" alt="hemisphere">
                <div class="card-body">
                  <h5 class="card-title">{{hemisphere.title | safe}}</h5>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>